[Unit]
Description=Constellation Network node auto_restart service
After=multi-user.target

[Service]
Type=simple
User=ubuntu
ExecStartPre=%h/.node-pilot/scripts/restart_logger.sh
ExecStart=cpilot restart --autostart

[Install]
WantedBy=multi-user.target